@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Smokum&display=swap');

@font-face {
  font-family: "Bright Sunshine";
  src: url("Bright Sunshine Demo.ttf");
}

@font-face {
  font-family: "Boston Angel";
  src: url("Assets/boston-angel-regular.ttf");
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}

h1, h2 {
  font-family: "Bright Sunshine", "cursive";
}

h2, h3 {
  font-family: "Boston Angel", "serif";
}

* {
  font-family: "Poppins";
}

body {
  background:  black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 1);
}

.opening {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: #005A46;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Limelight;
  font-size: 1.6em;
}

.opening-inner {
  text-align: center;
  margin: 10px;
}

.opening a {
  text-decoration: none;
  color: #ffd2a5;
  font-weight: bold;
  font-size: 1.2em;
}

.opening a:visted {
  color: #ffd2a5;
}

.opening p {
  font-size: .8em;
  font-family: Poppins;
}

.secret {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff00;
  border: none;
  cursor: default;
  width: 50vw;
  height: 20vh;
}

.opening i {
  font-size: .9em;
  color: #ffffffee;
}

button {
  background: #1B2138;
  color: white;
  font-family: Limelight;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

#everything {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

#top-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  max-width: 1600px;
}

#bottom-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  max-width: 1600px;
}

.ticket-link {
  text-align: center;
}

.ticket-link img, .ticket-link svg {
  width: 50%;
  min-width: 80px;
  transition: 300ms;
}

.ticket-link img:hover {
  filter: drop-shadow(0px 0px 5px white);
  cursor: pointer;
}

.ticket-link.selected img {
  filter: drop-shadow(0px 0px 20px gold);
  cursor: default;
}

#carousel-container {
  width: 100%;
  flex-grow: 8;
  margin-top: 20px;
  height: 100%;
  overflow-x: scroll;
}

#carousel {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150vw;
}

.poster {
  text-align: center;
  height: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poster.selected {
  flex-grow: 5;
  background: black;
}

.poster > div {
  height: 50%;
  background-image: url("under1.gif");
  border: 5px solid white;
}

.poster.selected > div {
  background-image: url("bg.jpg");
  width: 100%;
  height: 100%;
  border: 10px solid white;
}

.mid-container {
  overflow: hidden;
  text-align: center;
}

.mid-container > .page {
  display: none;
}

.mid-container > .page.main-selected {
  width: 95%;
  height: 90%;
  display: inline-block;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff11;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22222222;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22222255;
}

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.full-card {
  display: inline-block;
  border: 2px solid black;
  text-align: center;
  box-shadow: -2px 2px 1px black;
  transition: 250ms;
  transform-style: preserve-3d;
  cursor: pointer;
  margin: 10px;
  min-height: 120px;
  min-width: 120px;
  flex-grow: 1;
}

.full-card > div {
  position: absolute;
  background: inherit;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.full-card > div:nth-child(2) {
  transform: rotateY(180deg);
}

.full-card.flipped {
  transform: rotateY(180deg);
  box-shadow: 2px 2px 1px black;
}

.full-card > div {
  width: 100%;
  height: 100%;
}

.full-card img {
  width: 100%;
  height: 100%;
}

#page-wedding-party > div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.page > div.box {
  max-width: 675px;
  text-align: justify;
  margin: 0 auto;
  border: 1px solid black;
  background: #4F314Cdd;
  color: white;
  margin-bottom: 5px;
  padding: 20px;
  transition: background 300ms;
}

.page div.box > h2 {
  text-align: center;
}

.page.main-selected {
  position: relative;
  overflow-y: auto; /* Ensure this div is scrollable */
  /*max-height: 500px; /* Example fixed height */
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.scroll-indicator svg {
  cursor: pointer;
  animation: bounce 2s infinite;
}

.scroll-indicator path {
  transition: stroke 2s;
  stroke: "#00000000";
}

.page div.box a {
  color: gold;
  text-decoration: underline;
}

#page-merch > div.box {
  padding: 15px;
}
